/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #343434;
  background-color: rgba(1, 6, 8, 1);
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.view-root {
  min-width: 300px;
  margin: auto;
}

/* Styles for all pages that aren't
   YouTube pages
------------------------------------*/
.not-yt-page {
  margin: auto;
  text-align: center;
}

.not-yt-page p {
  min-width: 80%;
  color: rgba(241, 241, 241, 1);
}

.not-yt-page a {
  font-size: 12px;
  text-decoration: none;
  color: rgba(33, 135, 184, 1);
}

.not-yt-page a:hover {
  color: rgba(137, 207, 240, 1);
}

/* Styles for YouTube pages with
   no playlists on them and playlist
   that doesn't match the target
   playlist.
------------------------------------*/
.no-active-playlist-container,
.not-target-playlist-container {
  margin: auto;
  text-align: center;
  color: rgba(241, 241, 241, 1);
}

/* Styles for displaying Playlist Details */

.playlist-details {
  min-width: 90%;
  text-align: center;
  border: 1px solid rgba(45, 45, 45, 1);
  border-radius: 10px;
  background-color: rgba(38, 38, 38, 1);
}

.playlist-details img {
  float: left;
  width: 40%;
  border-radius: 8px 0px 0px 0px;
}

.playlist-title {
  float: right;
  overflow-wrap: break-word;
  width: 60%;
  text-align: left;
}

.playlist-title p {
  margin-left: 10px;
  margin-top: 20%;
  font-size: 90%;
  font-weight: bold;
  color: rgba(241, 241, 241, 1);
}

/* Styles for record button */

.record-playlist {
  clear: both;
  border: 0.5px solid rgba(38, 38, 38, 1);
  border-radius: 0px 0px 8px 8px;
  /*background-color: rgba(15,15,15, 1);*/
  /* color: rgba(241, 241, 241, 1); */
  /*color: rgba(33, 135, 184, 1);*/
}

.record-button {
  width: 100%;
  border-radius: 0px 0px 8px 8px;
  border-width: 0px;
  background-color: rgba(15, 15, 15, 1);
  color: rgba(55, 175, 212, 1);
}

.record-button:hover {
  background-color: rgba(115, 194, 251, 1);
  color: rgba(248, 248, 255, 1);
  /*transition-delay: 0.1s;*/
}

.record-playlist p:hover {
  cursor: pointer;
}

/* Record Options Container */
.record-options-container {
  clear: both;
  border: 0.5px solid rgba(38, 38, 38, 1);
  border-radius: 0px 0px 8px 8px;
}

/* Styles for stop recording button */
.view-all-button,
.stop-recording-button,
.download-button {
  display: inline;
  background-color: rgba(15, 15, 15, 1);
  border: 0px;
  padding: 12px;
  width: 50%;
}

.stop-recording-button {
  color: rgba(255, 15, 15, 1);
}

.stop-recording-button:hover {
  background-color: rgba(255, 15, 15, 1);
  color: rgba(248, 248, 255, 1);
}

/* Styles for view all button */
.view-all-button {
  color: rgba(33, 135, 184, 1);
}

.view-all-button:hover {
  background-color: rgba(115, 194, 251, 1);
  color: rgba(248, 248, 255, 1);
}

/* Styles for listing videos section */
.video-item-container {
  text-align: center;
  clear: both;
}

.current-video-item-img {
  width: 50px;
  float: left;
}

.current-video-title {
  text-align: left;
  color: rgba(248, 248, 255, 1);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Styles for listing all videos from target playlist */
.video-item-container {
  text-align: center;
  clear: both;
}

.current-video-item-img {
  width: 50px;
  float: left;
}

.current-video-title {
  /*float: left;*/
  text-align: left;
  color: rgba(248, 248, 255, 1);
  /*margin: 10px 0px 15px 5px;*/
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 6px 0px 0px 6px;
}

/* Style for download button */
.download-button {
  color: rgba(50, 205, 50, 1);
}

.download-button:hover {
  color: rgba(248, 248, 255, 1);
  background-color: rgba(50, 205, 50, 1);
}
